node_modules/
dist/
release/
resources/
package-lock.json

.gradle/
.idea/
server/**/build/
local.properties

build/*.provisionprofile

# Temp log files
*.log
final-test.log
startbat-output.log
electron-output.log
